---
services:
  dashy-work:
    image: lissy93/dashy:latest
    volumes:
      - /home/owen/dashy-config-work/user-data:/app/user-data
      - /home/owen/dashy-config-work/styles/custom-theme.scss:/app/src/styles/user-defined-themes.scss
    ports:
      - 8080:8080
    environment:
      - NODE_ENV=production
      - UID=1000
      - GID=1000
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "node", "/app/services/healthcheck"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    networks:
      - nginx-proxy
networks:
  nginx-proxy:
    external: true